@model UserModel
 
@{
    ViewData["Title"] = "Edit";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit user</h2>
            <hr/>
        </div>
        
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="Surname"></label>
            <input asp-for="Surname"class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="Age"></label>
            <input asp-for="Age" class="form-control"/>
        </div>
        
        <button type="submit" class="btn btn-primary m-1" >Edit</button>
        <a class="btn btn-secondary m-1" asp-action="Index">Back to list</a>
    </div>
    
    
</form>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}